{% extends 'water_final/base.html' %}


{% load bootstrap4 %}

{% block title %}
  水肥灌溉一体化系统 - 报警系统
{% endblock %}

{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      <h1>报警系统</h1>
      <div class="alarm">
        <span>报警系统:</span>

        <label for="">灌溉是否异常</label>
        <input type="radio" name="irrg" checked>是
        <input type="radio" name="irrg" disabled>否

        <label for="">设备是否异常</label>
        <input type="radio" name="device" checked>是
        <input type="radio" name="device" disabled>否

      </div>
    </div>
  </main>
{% endblock %}
