{% extends 'water_final/base.html' %}


{% load bootstrap4 %}

{% block title %}
  水肥灌溉一体化系统 - 知识库
{% endblock %}

{% block content %}
  <main role="main" class="container">
    <div class="jumbotron">
      <div class="banxin">
        <div>
          <a name="顶部"></a>
          <h2>配肥参考文档</h2>
          <h3>目录:</h3>
          <ul>
            <li>
              <a href="#核桃">1、核桃</a>
            </li>
            <li>
              <a href="#马铃薯">2、马铃薯</a>
            </li>
            <li>
              <a href="#苹果">3、苹果</a>
            </li>
            <li>
              <a href="#葡萄">4、葡萄</a>
            </li>
            <li>
              <a href="#大葱">5、大葱</a>
            </li>
            <li>
              <a href="#大枣">6、大枣</a>
            </li>
            <li>
              <a href="#西瓜">7、西瓜</a>
            </li>
            <li>
              <a href="#甘蔗">8、甘蔗</a>
            </li>
            <li>
              <a href="#枸杞">9、枸杞</a>
            </li>
            <li>
              <a href="#番茄">10、番茄</a>
            </li>
            <li>
              <a href="#小麦和玉米">11、小麦和玉米</a>
            </li>
            <li>
              <a href="#黄瓜">12、黄瓜</a>
            </li>
            <li>
              <a href="#草莓">13、草莓</a>
            </li>
            <li>
              <a href="#猕猴桃">14、猕猴桃</a>
            </li>
            <li>
              <a href="#香蕉">15、香蕉</a>
            </li>
            <li>
              <a href="#水稻">16、水稻</a>
            </li>
          </ul>
        </div>
        </br>
        </br>


        <a name="核桃"></a>
        <a href="#顶部" class="return">返回顶部</a>
        <span class="biaoTi clearfix">1.核桃 </span>
        <p class="zhengWen">
          综上所述，灌溉水量、施肥量过高过低都不利于核桃树体生长、果实产量及品质提升，考虑节水、节肥的原则， 结合试验处理统计数据， 研究得出W2T2 处理为提高核桃产量、品质以及水肥利用率的最佳水肥配比模式。
        </p>
        <img src="/static/images/1hetao1.png">
        <p class="canKaoWenXian">[1]王评,马丙尧,马风云,王霞,黄雅丽,马江燕.不同水肥配比对核桃生长的影响[J].山东林业科技,2019,49(04):37-41.</p>
        <p class="zhengWen">一般蔬菜对肥液的要求为：０＜ＥＣ≤３ｍＳ／ｃｍ，５≤ｐＨ≤８，在这个范围内时，肥液ＥＣ值是线性变化的，而ｐＨ 值成非线性变化。为了更清楚地了解ＥＣ、ｐＨ
          的耦合特性，进行了肥液的耦合试验。</p>
        <p class="canKaoWenXian">[2]张抓虎.基于大棚骨架的水肥药一体化系统设计与分析[J].中国农机化学报,2019,40(06):60-66.</p>
        <a name="马铃薯"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">2.马铃薯</span>
        <p class="zhengWen">期间的每日蒸发蒸腾量由HOBO气象站采集，ETo计算采用Penman-Monteith公式。通过以上综述可以表明:处理T7 100% ETo （120-60-150
          kg•hm<sup>-2</sup>）即高灌水量、低施肥量最适合马铃薯的生长，主要影响马铃薯的生理特性及生长势;而影响马铃薯根层上壤酶活性的水肥配比则由于马铃薯生长发育期的不同而略显差异。这一试验结果为陕北地区农业增产增效，以及田间水肥管理技术提供科学依据。
        </p>
        <img src="/static/images/2malinshu1.png" width="580px">
        <p class="canKaoWenXian">[3]王美琪. 水肥交互对马铃薯生理特性、生长势及根层土壤酶活性的影响[D].延安大学,2019.</p>
        <p class="zhengWen">由模型选优所得灌水量（2520.00 m<sup>3</sup>/hm<sup>2</sup>）、氮肥（尿素457.50 kg/hm<sup>2</sup>）、磷肥（
          磷酸二氢铵825.00 kg/hm<sup>2</sup>）和钾肥（硫酸钾247.50 kg/hm<sup>2</sup>）处理下，马铃薯植株株高、茎粗、地上部干质量、块茎质量、单株块茎质量和产量等性状表现最优，明显高于其他2个处理，且马铃薯干物质含量最高，还原糖含量最低，维生素C
          含量最高。说明由模型选优所得最佳组合的处理，其品质最佳，更有利于对加工的要求。</p>
        <img src="/static/images/2malinshu2.png">
        <p class="canKaoWenXian">[14]成军花,陈修斌.不同水肥配比对加工型马铃薯产量与品质的影响[J].长江蔬菜,2013(20):60-62.</p>
        <a name="苹果"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">3.苹果</span>
        <p class="zhengWen">
          本课题的主要研究对象是针对苹果园设计一套水肥灌溉决策控制系统，根据智能决策系统做出水肥灌溉决策，来实现水肥精准配比灌溉。其中，根据农艺知识以及专家经验得出苹果树树势分配不同时期的养分比例如表5-1所示，不同地区、不同树龄苹果氮、磷、钾养分比例如下:
          </br>&nbsp;&nbsp;（1）环渤海湾区域，当苹果产量为3000千克/亩时，每亩需要氮（N）
          26千克，磷（P<sub>2</sub>O<sub>5</sub>）14千克，钾(K<sub>2</sub>O）
          27千克。N:P<sub>2</sub>O<sub>5</sub>:K<sub>2</sub>O=1:0.55:1
          </br>&nbsp;&nbsp;（2）黄上高原地区，苹果产量为2000千克/亩时，每亩需要氮氮（N） 15千克，磷（P<sub>2</sub>O<sub>5</sub>）9.5千克，钾(K<sub>2</sub>O）
          </br>&nbsp;&nbsp;16千克。N:P<sub>2</sub>O<sub>5</sub>:K<sub>2</sub>O =1:0.62:1
          </br>&nbsp;&nbsp;幼龄期: N:P<sub>2</sub>O<sub>5</sub>:K<sub>2</sub>O=1:2:1
          </br>&nbsp;&nbsp;初果期: N:P<sub>2</sub>O<sub>5</sub>:K<sub>2</sub>O=1:1:1
          </br>&nbsp;&nbsp;盛果期: N:P<sub>2</sub>O<sub>5</sub>:K<sub>2</sub>O=2:1:2
          </br>&nbsp;&nbsp;更新衰老期：N:P<sub>2</sub>O<sub>5:K<sub>2</sub>O=2:1:l
          </br>&nbsp;&nbsp;针对苹果树在不同时期的水肥需求规律，制定了相应的水肥一体化灌溉施肥计划，如表5-2, 5-3,
          5-4所示。</本课题的主要研究对象是针对苹果园设计一套水肥灌溉决策控制系统
          ，根据智能决策系统做出水肥灌溉决策，来实现水肥精准配比灌溉。其中，根据农艺知识以及专家经验得出苹果树树势分配不同时期的养分比例如表5-1所示，不同地区、不同树龄苹果氮、磷、钾养分比例如下:>
        </p>
        <img src="/static/images/3pinguo1.png">
        <img src="/static/images/3pinguo2.png">
        <p class="canKaoWenXian">[4]李嵩. 苹果园水肥灌溉决策控制系统设计与研究[D].新疆大学,2019.</p>
        <a name="葡萄"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">4.葡萄</span>
        </br>
        <img src="/static/images/4putao1.png" alt="">
        <img src="/static/images/4putao2.png" alt="">
        <img src="/static/images/4putao3.png" alt="">
        <p class="zhengWen">据《西北农业学报》2019 年第2
          期《滴灌条件下水肥耦合对酿酒葡萄生长发育及果实品质的影响》（作者史星雲等）报道，为确定适合酿酒葡萄滴灌施肥的水肥组合及进一步认识葡萄水肥配比关系，
          并为指导水肥管理实践提供理论依据，以酿酒葡萄马瑟兰为材料，开展田间小区水肥试验，分别设置4个滴灌量和施肥水平，研究不同滴灌条件下各水肥处理对酿酒葡萄生长发育及品质的影响。结果表明，滴灌施肥条件下，水、肥调控对酿酒葡萄新梢生长、果实形态及品质、酚类物质含量影响显著，而对果皮色泽参数无显著影响；在一定范围内，随水肥用量的增加，葡萄生长及品质指标呈先升高后降低的趋势。合理的水肥管理不但可以促进葡萄新梢生长，还有利于果实品质改善。综上所述，滴灌量2700m<sup>3</sup>/hm<sup>2</sup>、施肥量N-P<sub>2</sub>O<sub>5-K<sub>2</sub>O为160-120-210
            kg/hm2 处理能促进酿酒葡萄新梢生长，
            单粒质量和果实纵横径表现较突出，同时能明显提高果实可溶性固形物、还原糖和果皮中酚类物质质量分数，是基于试验条件下酿酒葡萄生长、品质调控的较适宜水肥组合。
        </p>
        <p class="canKaoWenXian">[5]王世明.合理水肥调控利于葡萄果实品质改善[J].中国果业信息,2019,36(04):56.</p>
        <p class="zhengWen">本试验以田间最大持水量(FC) 为标准进行3个灌水处理，分别为75% ～ 80% FC( 正常灌水量) 、55% ～ 60% FC ( 轻度胁迫水平) 、40% ～
          45% FC( 中度胁迫水平) ; 同时根据前一年预备试验中表现较好的处理设定3 个肥料配比: 即N∶ P∶ K = 2∶ 1 ∶ 3、N∶ P∶ K = 2∶ 1∶ 5、N∶ P∶ K = 2∶
          5∶ 3。
          </br>&nbsp;&nbsp;具体实施方案见表1。其中所施氮肥为硫酸铵( 含N 量为21%) ，磷肥为过磷酸钙( 含P<sub>2</sub>O<sub>5量为18%) 、钾肥为硫酸钾(
            含K<sub>2</sub>O 量为50%) 。
            </br>&nbsp;&nbsp;对表1 中的肥料进行分期追施，分别在萌芽期、坐果期、转色期和采收后4 个时期进行不同的施肥处理，具体施肥时间分别为萌芽期5 月12 日、坐果期6 月15
            日、转色期7 月10 日、采后期8 月5 日。每个时期施肥25 天后进行取样及相关指标测定。分期施肥比例方案见表2。
        </p>
        <img src="/static/images/4putao4.png" alt="">
        <p class="zhengWen">综合叶面积与光合速率来看，萌芽期和坐果期水分为田间持水量的55% ～ 60%、施肥配比为N∶P∶ K = 2∶ 5∶ 3
          的水肥处理能有效促进叶面积增加，提高光合速率，是较好的水肥处理组合; 转色期和采收后需维持正常含水量和适当增施钾肥可提高光合速率。从氮代谢角度分析，总蛋白，总氮与NＲ、GS、GPT
          之间存在一定的相关性，且肥料配比对其之间相关性的影响不大。</p>
        <p class="canKaoWenXian">
          [13]周兴本,王世光,郭修武,王丛丛,李坤,郭印山,李成祥.水分胁迫下肥料配比对葡萄光合速率与氮代谢的影响[J].干旱地区农业研究,2015,33(01):28-36+78.</p>
        <a name="大葱"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">5. 大葱</span>
        <p class="zhengWen">500-400-600 kg/hm<sup>2</sup>, 肥料为尿素(N 46%、过磷酸钙P<sub>2</sub>O<sub>5
          12%、硫酸钾K<sub>2</sub>O 51 %)
          </br>&nbsp;&nbsp; 大葱植株根、茎、叶干物质积累量以滴灌处理较高，喷灌次之，沟灌较低，收获时滴灌、喷灌处理叶片干重增加了7.76%,
          4.02%;滴灌、喷灌处理的大葱产量分别达80.83 t/hm<sup>2</sup>, 78.50 t/hm<sup>2</sup>，较沟灌分别提高8.00%和4.90%，但滴灌、喷灌无显著差异。不同氮磷钾配比处理的大葱各器官干物质量、生长量、产量均以NPK较高，产量达117.55t/h时，其他处理依次NK>NP>PK>N>P>K>NoPoKo;单一施肥时，以施N产量较高，P次之，K最低;两两配施时，以缺N对产量的影响较大。
          </br>&nbsp;&nbsp;1.大葱的肥料利用效率、肥料农学效率、肥料偏生产力、灌溉水利用效率及水分生产效率均以滴灌较高，沟灌较低，喷灌居中，滴灌、喷灌氮素利用效率分别较沟灌提高了65.36%和31.77%，而磷素利用效率分别提高了63.43%,
          57.02%;钾素利用效率分别提高了27.64%,
          11.64%;肥料农学效率分别提高了34.08%和27.96%;灌溉水利用效率分别较沟灌提高了64.02%和34.38%，节水率分别达34.19%和21.99%。不同施肥配比处理的氮磷钾利用率则以NPK处理较高，分别达21.75%,
          16.85%,
          29.01%;单一施肥处理较低，两两配施处理居中，单一施肥的肥料农学效率以N大于P大于K;两两配施的肥料农学效率以NK大于NP大于PK;不同施肥配比处理大葱的灌溉水利用效率和水分生产效率存在显著差异，以NPK处理较高，分别达45.59
          kg/hm<sub>2</sub>和18.06 kg/hm<sub>2</sub>;NoPoKo较低，仅为22.56 kg/hm<sub>2</sub>和8.97 kg/hm<sub>2</sub>。
          </br>&nbsp;&nbsp;2.滴灌方式下上壤水分和养分分布较沟灌更靠近大葱根区，利于大葱的吸收利用。培上前，沟灌灌溉水主要分布于40-60
          cm上层，造成大量灌溉水向深层入渗。培上后，由于灌水沟的变化，加剧了沟灌灌水向深层上壤的入渗，而葱株所在的高垄上壤相对含水量较低。
          </br>&nbsp;&nbsp;3.滴灌、喷灌显著增加了大葱叶片的叶绿素、胡萝卜素含量，提高了净光合迷率、气孔导度及瞬时水分利用率，叶丛速生期，滴灌、喷灌、沟灌处理Pn分别为26.05, 25.3
          ,23.35 μmol·m<sup>-2</sup>·s<sup>-1</sup>。滴灌、喷灌处理分别较沟灌增加11.56%, 8.35%。
        </p>
        <p class="canKaoWenXian">[6]刘颖. 灌溉方式与施肥配比对大葱产量品质及水肥利用效率的影响[D].山东农业大学,2019.</p>
        <a name="大枣"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">6．大枣</span>
        <p class="zhengWen">试验于2014 年在新疆生产建设兵团第十三师红星一场园艺二场4 斗1 垄( 42°32'23″N，94°11'08″E) 进行( 图1) ，供试枣树树龄为13
          a，平均树高为1．65 m，行株距为5 m×2 m。试验地年平均气温9.9 ℃，年平均降水量不足50 mm，年平均蒸发量 3000 mm，试验区土壤为沙土，土壤容重γ为1．5 g
          /cm<sup>3</sup>，田间持水率为16%( 质量含水率) 。滴灌毛管采用单翼迷宫式滴灌带，滴头流量为3.2 L/h，滴头间距30 cm。滴灌带采用一行两管的布置方式，每条滴灌带均距离树干60
          cm。
          </br>&nbsp;&nbsp;以田间持水量(FC) 为标准设置3 个灌水处理，分别为正常水量( 70% ～ 80%FC) 、轻度水分亏缺( 50% ～ 60%FC) 和中度水分亏缺( 40%
          ～50%FC) 3 个水平。根据9 个水肥配比试验结果，研究认为，灌溉水量为900 mm、施氮肥420 kg /hm<sup>2</sup>
          的水肥处理最优，建议在大枣生产实际管理中按此配比进行管理，以提高氮肥利用率。
        </p>
        <img src="/static/images/6dazao1.png" alt="">
        <p class="caoKaoWenXian">[7]龚萍,刘洪光,何新林,阿尔娜古丽·艾买提.水肥配比对大枣氮素分布及利用效率的影响[J].节水灌溉,2018(11):10-15，19.</p>
        <a name="西瓜"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">7.西瓜</span>
        <p class="zhengWen">综合考虑西瓜产量、品质、水分利用效率，以及水肥交互作用和环境保护等因素，在西瓜膜下滴灌栽培模式下，中等施肥量( N 112 kg /hm<sup>2</sup> +
          P2O5 60 kg /hm<sup>2</sup> + K<sub>2</sub>O 140 kg /hm<sup>2</sup> )和中等灌水量( 1 200 m<sup>3</sup>
          /hm<sup>2</sup> ) 为当地较优水肥配比。F2W2策略更合适。</p>
        <img src="/static/images/7xigua1.png" alt="">
        </br>
        <img src="/static/images/7xigua2.png" alt="">
        <p class="canKaoWenXian">[8]侯东颖,郝科星,张曼,金辉,侯富恩.水肥一体化技术对西瓜产量及品质的影响[J].安徽农业科学,2018,46(25):116-118.</p>
        <a name="甘蔗"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">8.甘蔗</span>
        <p class="zhengWen">试验地位“广西糖都”广西壮族自治区崇左市的江州区太平镇驮逐村陇铎片糖料蔗高效节水灌溉项目区。
          </br>&nbsp;&nbsp;试验共有5 个处理，每个处理重复3 次，共15 个小区，采用随机排列。小区规格为8 m×8 m，小区面积为64 m2，四周设有排水沟，2016 年4 月5
          日下种，每公顷播种量为12 万条双芽苗，行距为100 cm。苗期、分蘖期、伸长期施肥时间为5 月6 日、6 月6 日、7 月9日。基肥为22.5 t hm-2 猪粪，600 kg hm-2
          复合肥，100% 水平灌溉量为：219.45 m3 hm-2，100%有效施肥量为：N:207 kg hm-2、P2O5
          : 101.25 kg hm-2、K2O: 313.5 kg hm-2。肥料分配为：苗期占15%，分蘖期占15%，伸长期占70%，成熟期不施肥，各阶段的肥料均为一次性随着灌溉滴灌。
          </br>&nbsp;&nbsp;灌溉按照土壤含水率下限控制来设计不同灌水水平，苗期、分蘖期、成熟期土壤含水率上下限为田间持水量的60%-80%，伸长期土壤含水率上下限为田间持水量的70%-90%。
          </br>&nbsp;&nbsp;水肥一体化技术是促进甘蔗生长、减少肥料施用量、提高甘蔗产量的有效措施。合理的灌水施肥比例能提高甘蔗产量及品质，本试验最佳水肥配比处理是W0.5F0.5，产量增加了20.42%，田间锤度和蔗糖分别增加了8.65%和13.55%。
          </br>&nbsp;&nbsp;水肥一体化可以显著增加土壤酶活性，对于过氧化氢酶而言，水肥配比为50%时，酶活性显著提高；适量的水肥配比可显著提高土壤转化酶和脲酶活性，但过高的配比则会使酶活性降低；磷酸酶活性随着水肥配比的增加而增加。
        </p>
        <p class="canKaoWenXian">
          [9]杨雪艳,蒋代华,杨钙仁,黄智刚,黄凯.甘蔗水肥一体化种植对土壤微生物量碳氮和酶活性的影响[J].土壤通报,2018,49(04):889-896.</p>
        <a name="枸杞"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">9.枸杞</span>
        <p class="zhengWen">
          通过前期的调查研究和科学的室内分析，全面了解试验区土壤类型，土壤肥力状况、土壤养分供应特征;通过田间试验和室内分析，研究宁夏中部干早带枸杞需水规律需肥规律，根据土壤供肥量和水肥协同效应，提出红寺堡区枸杞水肥一体化优质高效栽培的综合管理技
          术规程;研究宁夏中部干早带土壤肥力形成，及土壤培肥技术，提出红寺堡区构祀施肥技术及土壤培肥技术;研究红寺堡区枸杞植株的各物候期对氮、磷、钾养分含量的动态累积规律，进而提出红寺堡区枸杞科学施肥制度和各物候期肥料养分配比，为促进红寺堡产区枸杞产业的更好更快发展打下坚实基础。
          </br>&nbsp;&nbsp;(1)为满足构杞生育期各阶段对对氮磷钾养分的需求，对各时期进行营养诊断，测定各物候期构杞植株各部位养分含量及氮磷钾动态分配规律，得出三年生“宁杞7号”枸杞从萌芽期至展叶期，应向枸杞田施入N，P2O5，K2O的量分别为63.97
          kg/hm2, 6.89 kg/hm2,23.74 kg/hm2;从展叶期至初果期，应施入的量分别为3.7kg/hm2，4.28
          kg/hm2,0.76kg/hm2;从初果期至盛果期，应施入的量分别为35.18 kg/hm2
          ,13.94kg/hm2,15.77kg/hm2;从盛果期到休眠期，应施入的量分别为8.09，6.19，4.86 kg/hm
          <sup>2</sup>;从休眠期到秋果期，应施入的量分别为58.83，8.57,14.31
          kg/hm<sup>2</sup>。因此三年生“宁杞7号”全生育期共应向土壤中施入N，P<sub>2</sub>O<sub>5</sub>，K2O的量分别为169.77, 39.87和59.44
          kg/hm<sup>2</sup>。
        </p>
        <img src="/static/images/9gouqi1.png" alt="">
        <p class="zhengWen">(2)水肥一体化技术下，水肥协同有利于促进枸杞植株的生长发育，有利于枸杞产量和品质的提高，在灌水量为2850 m<sup>3</sup>/hm<sup>2</sup>和全营养滴灌肥施用量为500kg/hm<sup>2</sup>的水肥协同处理时，对枸杞植株长势促进最佳，同时能显著地增加枸杞产量，此时的枸杞产量为2593.65
          kg/hm<sup>2</sup>。 [10]常少刚. 枸杞阶段营养规律与合理施肥技术研究[D].宁夏大学,2018. 高水处理S4 （250
          m<sup>3</sup>/667m<sup>2</sup>）与中高肥处理F3(N，P2O5，K2O:180-90-90
          kg/hm
          <sup>2</sup> )配比下旱地膜下滴灌玉米产量最高。S1F4处理灌溉水利用效率最高(3.65 kg/m<sup>3</sup> )。
          </br>&nbsp;&nbsp;玉米生育期内的灌溉水量分配如下:苗期5mm (10%)一拔节期15mm(10%)一抽穗期15mm (30%)一灌浆期15 mm(30%)。
        </p>
        <img src="/static/images/9gouqi2.png" alt="">
        <p class="canKaoWenXian">[11]李骏奇. 宁夏同心旱地玉米滴灌水肥利用效率研究[D].宁夏大学,2018.</p>
        <a name="番茄"></a>
        <a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">10.番茄</span>
        <p class="zhengWen">田间持水率达75%-90%，氮、磷、钾肥以理论施肥水平N：600 kg/hm<sup>2</sup> ，P<sub>2</sub>O<sub>5</sub>：450kg/hm<sup>2</sup>，K<sub>2</sub>O：450kg/hm<sup>2</sup>时处理的水肥配比最适宜番茄的生长，这主要是由于适宜的水肥用量对作物生长发育起着相互制约相互促进的作用，存在明显的耦合关系所致。
          </br>&nbsp;&nbsp;在番茄结果期，田间持水率达75%-90%，氮、磷、钾肥以理论施肥水平N 400：kg/hm<sup>2</sup>
          ，P<sub>2</sub>O<sub>5</sub>：350kg/hm<sup>2</sup>，K<sub>2</sub>O：300kg/hm<sup>2</sup>时，植株的光合速率最高可达到CO<sub>2</sub>：28.52μmolm<sup>-2</sup>s<sup>-1</sup>，；同时水分、肥料的交互作用对番茄产量的影响达显著水平。
        </p>
        <p class="canKaoWenXian">[12]陈修斌,李翊华,许耀照.温室番茄对水肥耦合的光合特性及叶绿素荧光参数响应[J].土壤通报,2015,46(03):687-693.</p>
        <a href="#顶部" class="return">返回顶部</a>


        <a name="小麦和玉米"></a>
        <span class="biaoTi">11.小麦和玉米</span>
        <p class="zhengwen">本试验于2014年9月至2015年10月进行，试验采用不完全正交设计方案，随机区组排列，试验因素水平见表2-1。小区宽5.5
          m，长18m，各处理重复三次，共27个小区。试验所用的氮肥为尿素(N:46% ),磷肥为磷酸二胺（P2O5:44%），所有肥料作为基肥一次性施入。灌水1水平即不灌水;灌水2水平为冬前灌一次水，为30
          mm;灌水3水平为冬前灌水一次，拔节期灌水一次，每次30 mm。采用水表定量灌溉。供试小麦品种小堰22于2014年10月5日播种，于次年7月22日收获。</p>
        <img src="/static/images/11xiaomaiyumi1.png" alt="">
        <p class="zhengWen">在各种组合中，经过极差分析和方差分析后得到的最优水肥组合为N3P2H3，即施氮量225kg/hm2配合90kg/hm2磷肥以及60
          mm灌水量;回归方程得到的最优组合为，以施氮量225kg/hm2配合90kg/hm2磷肥以及60
          mm灌水量处理的小麦玉米产量最高，为最佳水肥处理。不同因素对产量影响的顺序为:氮肥>水分>磷肥。对于玉米产量而言，产量最高的处理是氮肥用量300kg/hm2配合90kg/hm2磷肥以及60
          mm灌水量。</p>
        <p class="canKaoWenXian">[13]杨玥. 不同水肥条件对小麦玉米产量及土壤养分的影响[D].西北农林科技大学,2016.</p>
        <a name="黄瓜"></a><a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">12.黄瓜</span>
        <p class="zhengWen">
          黄瓜是兰州高原夏菜最主要的栽培作物，通过发展设施蔬菜一体化技术，使黄瓜达到了高产、节本、增效的目的，近年来通过发展，形成了一套适合于兰州地区的设施黄瓜水肥一体化技术模式。
          </br>1 黄瓜生物学特性
          </br>1.1 黄瓜生物学特性
          </br>&nbsp;&nbsp;黄瓜要求土壤疏松肥沃，富含有机质。黄瓜在黏土中发根不良，在砂土中发根前期虽旺盛，但易于老化早衰。黄瓜适于弱酸性至中性土壤环境，最适pH
          在5.7～7.2。当土壤pH小于5.5 时，植株易发生多种生理障碍，黄化枯死；当土壤pH高于7.2
          时，易烧根死苗，发生盐害。黄瓜是喜温蔬菜，并要求一定的昼夜温差，生育期间以10～30℃为健壮植株生育温度，10℃以下生理失调，5℃以下难以适应，-2～0℃冻死。黄瓜根系对地温比较敏感，生育期最适宜地温为25℃，根毛发育最低温度为12～14℃，地温降到12℃时根系发育受阻，8℃根系不能生长。黄瓜生长最适宜的昼夜温差是白天25～30℃，夜间13～15℃。黄瓜对空气湿度的要求较高，适宜的空
          气相对湿度为70%～90%，空气湿度过大易发病，土壤水分过多易发生沤根。
          </br>&nbsp;&nbsp;黄瓜根系呼吸强度大，具有好气性和好湿性的特点，主根纵向伸展及根系横向伸展均可达1 m，但主要部分集中分布在近地表25～30 cm 土层和植株周围30 cm
          的范围内。黄瓜根系木栓化早，再生能力弱，根系受伤后不易再生新根。茎作为根系向地上部输送养分的主要通道，黄瓜茎的粗细及节间昀长短是诊断植株是否健壮生长的重要指标之一。
          </br>1.2 黄瓜肥水需求规律
          </br>&nbsp;&nbsp;黄瓜是需水量较大、对水分要求非常严格的蔬菜作物，而且不同生育期对水分的敏感性不同，需水量也不同。一般黄瓜的灌水下限为相对含水量的60%～75%，灌溉上限为土壤相对含水量的90%时，黄瓜产量高、品质好，水分利用率高。
          </br>&nbsp;&nbsp;黄瓜果实的生长曲线呈“S”形。通常谢花后生长慢，以后逐渐加快，达到一定程度后逐渐减慢。果实主要由水分、碳水化合物和矿质元素组成，每生产1 000 kg
          黄瓜大约需要氮(N)2.8～3.2 kg、磷(P2O5)0.5～0.8 kg、钾(K2O)3.0～3.7 kg、钙(Ca)2.1～2.2 kg、镁(Mg)0.4～0.5 kg。对养分的需求量是钾>
          氮>钙> 镁>
          磷。因此果实的发育与水分、矿质养分和同化产物的供应有直接关系。黄瓜果实的大小和形状既是品种的特征之一，也是养分供应状况的反应。在其他条件一致的情况下，果实的生长速度反映了土壤养分供应是否充足。黄瓜植株自定植到采收盛期再到拉秧期，其生长量是不断增大的，干物质的积累量不断增加。露地栽培的黄瓜从定植到初花期，干物质积累量只有342
          kg/hm2；到采收期，干物质积累量为1 893 kg/hm<sup>2</sup>。采收始期到采收盛期和采收盛期到拉秧期，干物质积累量分别达到4 843.5 kg/hm<sup>2</sup>和8
          328 kg/hm<sup>2</sup>。统计分析表明，黄瓜不同生育期对养分的吸收量与干物质的增长量成正相关。
          黄瓜对氮、磷、钾等养分的吸收量随生育期不同而变化。结瓜期前植株各器官增重缓慢，营养物质的流向是以根、叶为主，同时还供给丑蔓和花芽分化发育，对氮、磷、钾的吸收量分别占总吸收量的2.4%、1.2%和1.5%。进入结瓜期后，植株的生长量显著增加，结瓜盛期达到最大值，在结瓜盛期的20
          多天内，黄瓜吸收的氮、磷、钾量分别占吸收总量的50%、47%和48%左右。结瓜后期，生长速度减慢，养分吸收量减少，其中以氮、钾减少较为明显。
          </br>2 设施黄瓜水肥管理模式
          </br>&nbsp;&nbsp;设施黄瓜根系浅，主要分布在15～25 cm
          的耕层内，其根系的耐盐性较差，不宜一次性施用大量化肥，因此设施黄瓜适合于灌溉施肥。黄瓜对氮、磷、钾等营养元素的需求量大，吸收速率快，从稳产和高产角度出发，充足施用有机肥是黄瓜高产栽培的基础，一般以22
          500～45 000 kg/hm2 的腐熟鸡粪或其他优质商品有机肥或生物有机肥作为基肥。在化肥追施方面，追肥量不宜过大，但追肥次数要多，一般追肥3～5
          次，掌握好“少吃多餐”的原则。在结瓜初期进行第一次追肥，施纯氮45～60
          kg/hm
          <sup>2</sup>、氧化钾60～90 kg/hm<sup>2</sup>；盛瓜初期进行第二次追肥，盛瓜期追肥间隔要缩短，结合灌水进行；第三次追肥量相同，以后各次减半，最后一次可不追钾肥。在结瓜盛期可以用0.5%的尿素和0.3%～0.5%的磷酸二氢钾水溶液进行叶面喷施二三次。
          表1、表2、表3
          分别为设施早春茬黄瓜灌溉施肥技术指标、设施秋冬茬在黄瓜灌溉施肥技术指标和西北地区设施蔬菜滴灌施肥方案，具体阐述了设施黄瓜水肥一体化灌溉施肥技术指标。西北地区部分设施蔬菜的滴灌施肥方案，适用于壤土，砂土应少量多次，黏土应多量少次，肥料为专用肥，补充微量元素和调理剂。
        </p>
        <img src="/static/images/12huanggua1.png" alt="">
        <img src="/static/images/12huanggua2.png" alt="">
        <p class="canKaoWenXian">[15]孙振荣,王兴田.设施黄瓜水肥一体化技术[J].农业科技与信息,2017(06):65-66.</p>
        <a name="草莓"></a><a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">13.草莓</span>
        <p class="zhengWen">
          草莓营养价值丰富，具有益心健脑的独特功效，且采摘期较长，已经逐步成为多地农民增收致富的主导产业。目前我国草莓种植的面积和产量位居世界第一，主要采用温室栽培的方式，特别是反季节栽培草莓的经济效益更高。然而生产上过量的灌水和施肥，造成大量的水分流失，肥料利用效率降低，土壤板结地下水污染等一系列环境问题，同时影响植株的生长发育、产量和品质。水肥耦合可以促进作物对养分的快速吸收和高效利用，以达到节水节肥、增产增质、省工省时和减污等目的。
          </br>&nbsp;&nbsp;水肥对番茄产量和品质的形成起着决定性的作用。前人的研究表明，水肥一体化模式可以提高肥料利用效率，适量减少施肥可以提高草莓的品质和产量。滴灌条件下轻度亏缺灌溉可以提高草莓果实的含糖量和产量。适量的灌水施肥模式可以提高温室草莓的产量和水肥利用效率
          。水氮耦合处理可以提高草莓果实中的维生素C 含量、可溶性糖含量、有机酸含量和糖酸比。在一定范围内适量施用磷肥或氮肥均可提高番茄中维生素C、可溶性糖含量和可溶性固形物含量。
          </br>&nbsp;&nbsp;不同水肥处理对产量、果实品质和水肥利用效率的影响不同，即使同一水肥处理，对不同指标的影响差异也较大。植株生长包括不同类别的多项指标，每种指标衡量标准不同，但又相互关联，仅凭单一指标进行评价具有局限性，很难准确评价草莓生长的优劣。因此，合理的综合各项指标、建立科学的评价体系，是取得整体水肥施用优化方案的基础。层次分析（Analytic
          hierarchy
          process，AHP）法可以对通过客观事实的主观判断，将元素的相对重要性定量描述。熵权法是一种由待评价指标来确定指标权重的客观方法，具有较强的操作性，可根据指标的变异程度客观计算出各指标的权重值。TOPSIS（Technique
          for order preference by similarity to ideal
          solution，TOPSIS）模型可以充分利用原始数据，通过比较各个指标中的最优解和最劣解评价方案的优劣性。采用基于博弈论的组合赋权法对AHP
          法和熵权法得到的权重进行融合，充分利用主观赋权法反映决策者意愿及客观赋权法的理论依据优势，对定性的问题进行定量分析，同时克服单一方法的偏向性，得到更加合理的指标权重，再基于TOPSIS
          法构建评价体系，可实现对多指标内容的科学评价。
          </br>&nbsp;&nbsp;为探寻草莓最优水肥组合，西北农林科技大学张智设置灌水和施肥二因素三水平共9个处理，分析不同水肥耦合对草莓产量、果实品质、水肥利用效率多个指标的影响。引入AHP
          层次分析法和熵权法对3 类因素9 个指标进行多层赋权，运用基于博弈论的组合赋权法获得各单一指标最终权重，基于TOPSIS
          法构建草莓综合生长评价体系，并以高产、高品、高效为目标建立草莓对水肥耦合响应数学模型。
          </br>&nbsp;&nbsp;该研究结果表明，水肥耦合作用对草莓的单果质量、产量、水分利用效率和肥料利用效率的影响极显著，对品质无显著影响。中水高肥灌溉下草莓的单果质量最大，中水中肥灌溉下草莓的产量和可溶性糖含量最优，中水低肥灌溉下草莓的糖酸比和可溶性蛋白质含量表现最优，低水中肥灌溉下草莓的可溶性固形物含量和肥料利用效率最优，低水低肥灌溉下草莓的维生素C含量最大，低水中肥灌溉下草莓的水分利用效率最高。综合协调各指标，赋权值最高为产量（0.2641），最低为可溶性蛋白质含量（0.0595）；多指标综合评价最优水肥处理为中水中肥（T5）。解析草莓综合生长对水肥耦合的响应模型，灌水量及施肥量的单因素效应均为开口向下的抛物线；当灌水量编码值为-0.23（2375.1m<sup>3</sup>/hm<sup>2</sup>）、施肥量编码值为-0.02（1825.88kg/hm<sup>2</sup>）时，草莓综合评分最高。以综合评价最大值90%
          以上划分最优水肥耦合闭环区间，得到灌水量2268-2520m
          <sup>3</sup>/hm<sup>2</sup>、施肥量1759.88-1869.87kg/hm<sup>2</sup>，最有利于草莓的生长。
          该研究中灌水量依据参考作物的蒸腾蒸发量（Evapotranspiration, ETC），施肥量根据目标产量法选择N、P2O5、K2O 比例为14:6:30 的复合肥。试验设置两因素，3
          个滴灌水平（高水W1：100% ETC、中水W2：80%ETC、低水W3：60% ETC）和3个施肥水平（高肥F1：2199.85 kg/hm2、中肥F2：1833.21
          kg/hm
          <sup>2</sup>、低肥F3：1466.57 kg/hm<sup>2</sup>）。
          </br>&nbsp;&nbsp;试验采用膜下滴灌技术，进行水肥同时处理。草莓于2018 年9 月6 日定植，2019 年4 月5
          日拉秧。定植和缓苗时灌水量为1666.7L，处理后每3-4d灌一次水，ETC依据 Penman-Monteith 修正公式计算参考文献中草莓各时期草莓的灌水系数计算，环境数据由小型气象站采集（HOBO
          event logger , onset computer corporation ,美国），在整个生育期W1、W2、W3
          灌水总量分别为3150m3/hm<sup>2</sup>、2520m<sup>3</sup>/hm<sup>2</sup>、1890m<sup>3</sup>/hm<sup>2</sup>。由数显电子流量计和施肥泵精确控制灌水量和施肥量。
        </p>
        <p class="canKaoWenXian">
          [17]张智,李曼宁,杨志,蔡泽林,洪婷婷,丁明.基于产量、品质、水肥利用效率的草莓水肥耦合综合调控[J/OL].农业机械学报:1-19[2020-01-06].http://kns.cnki.net/kcms/detail/11.1964.S.20191218.1312.002.html.</p>
        <p class="zhengWen">上海市农业技术推广服务中心徐莉莉的研究结果表明，采用水肥一体化技术比常规施肥方式能节肥35.10%，水肥一体化模式中施氮量48.00 kg/hm2，施磷量32.10
          kg/hm2，施钾量95.10 kg/hm2，N∶P∶K 为1.00∶0.67∶1.98
          施肥处理的草莓产量、可溶性固形物含量、单果质量等指标较常规处理分别增加了39.50%、23.10%和24.60%，呈现明显差异，较常规施肥模式增收18.04万元/hm2，与其他不同施肥模式处理之间也均在整体生长中期或后期呈现明显差异。</p>
        <p class="canKaoWenXian">[18]徐莉莉,陈珏,陆雪珍,严雨洁.水肥一体化施肥对草莓产量与品质的影响[J].长江蔬菜,2019(06):69-72.</p>
        <a name="猕猴桃"></a><a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">14.猕猴桃</span>
        <p class="zhengWen">
          猕猴桃被誉为维C之王，以其丰富的微量元素含量而深受消费者青睐，具有广阔的市场发展前景。淄博市博山区作为山东省猕猴桃主产区，栽培面积近1.35万亩，占全省栽培面积的73%以上。经过技术人员近30
          年的不断改良，培育出的博山“碧玉”猕猴桃，因其具有口感纯正、酸甜适度、细嫩多汁、芳香浓郁的特点，而享誉省内外。近年来，虽然种植规模逐步扩大，
          但猕猴桃商品果率过低成为制约种植效益的一大因素。在对果树地上部分管理日趋科学成熟的今天，对地下部分的管理则仍显粗放模糊，特别是水分和肥料得不到精准投入，
          对根系生长造成的隐形伤害，成为困扰猕猴桃健康生长的主要因素。由此，引进试验和示范推广水肥一体化技术成为推动猕猴桃产业持续健康发展的当务之急。在此背景下，从事蔬菜生产管理与技术服务工作的高级农艺师耿波，根据自己多年的经验设计了水肥一体化栽培制度的优化试验，通过此实验，以及与常规栽培管理模式的对比可以看出，
          水肥一体化技术在多个方面具有显而易见的优势： 可减少水分的下渗和蒸发，
          提高水分利用率，节水40%以上；可减少肥料挥发和流失，减少了硝酸盐淋洗，提高肥料效力，实现节肥60%左右；可降低棚内湿度，提高棚内温度，制约病虫害滋生，减少防治病害的农药投入和劳力投入；
          可显著改善土壤理化性状，避免超量肥料在土壤中积累、养分比例失调及土壤盐渍化等现象，减少环境污染；可省去开沟、灌水等人工田间作业，节省人工支出；可有效增强土壤微生物活性，
          促进土壤养分转化和作物的养分吸收，增加产量，改善品质。总而言之，水肥一体化技术在猕猴桃栽培上的应用，
          可产生显著的经济效益、生态效益和社会效益。
          </br> 此实验中灌溉措施：
          </br>&nbsp;&nbsp;灌水按照少量多次原则，以滴头出水量为3～4 L/小时，1 次滴灌时间为2～3
          小时为准，自每年的4月至11月，共计8个月的时间，除去雨水期，一般7天左右滴灌1次，1年约需浇水15次左右。试验地块面积10亩，机井上水量40m3/小时，共铺设滴灌6500m，每米滴头数3个，一次浇水3小时，每个滴头出水量2.05
          L/小时。
          </br>此实验中施肥措施：
          </br>&nbsp;&nbsp;施肥根据猕猴桃不同生长期的不同需肥特点进行合理搭配，并且少量多次，平衡施肥。具体施肥计划如下：3
          月下旬施用萌芽肥，选择高氮水溶肥，一般用量3～5kg/亩；4月下旬施用催花肥，选择大量平衡元素水溶肥（N∶P2O5∶K2O=20∶20∶20），用量为5kg/亩；5
          月中旬开始施用膨果肥，选择平衡大量元素水溶肥+钙镁硫中微量元素水溶肥，用量为5 kg/亩；膨大期的50天，每间隔15天使用1次，连续施用3次，用量为每次5 kg/亩；7
          月上旬开始施用优果肥，选择高钾大量元素水溶肥，间隔20天再用1次，用量为每次5
          kg/亩；9月下旬和10月上旬，用完基肥后，再施用1 次平衡大量元素水溶肥5
          kg/亩+中微量元素水溶肥5kg/亩。每次施肥前先灌水半个小时，施肥结束后再次灌水半小时，既有利于肥料下沉到须根区，也防止沉淀物堵塞滴头。
          </br>&nbsp;&nbsp;李美芳从猕猴桃主要品种、育苗、选地种植、整形修剪、肥水管理、采摘技术和防治病虫害方面探讨了猕猴桃优质、高产栽培技术，给相关的研究者提供一定的参考依据。她认为：在施肥时，应同猕猴桃肥水管理情况和预计产量以及品种情况相结合，确定施肥量。一般而言，猕猴桃定植后，每一年要施一次基肥，进行四次追肥。基肥主要为有机肥，并配以其他肥料。测定土壤养分，合理对营养元素进行配比，氮、磷、钾配比为1∶0.9∶1。此外，要合理施用生物肥料以及微量元素肥料，减少化肥的使用量，果实收后施基肥。追肥在花前、花后、果实膨大期、果实成熟前期施用。
          </br>&nbsp;&nbsp;眉县果业技术推广服务中心吴涛根据眉县产业发展方向、本地猕猴桃的生长特性、土壤性状和施肥特点，从2010
          年开始，进行猕猴桃水肥一体化施肥技术试验研究，总结出了一套成熟的猕猴桃根际液体施肥技术，并在生产中进行了示范推广，取得了良好的效果。
          </br>具体如下：
          </br>1施肥设备
          </br>&nbsp;&nbsp;猕猴桃根际液体施肥技术可分为简易水肥一体化施肥和管道水肥一体化施肥。
          </br>1.1 简易水肥一体化施肥
          </br>&nbsp;&nbsp;利用果园喷药的机械装置，包括配药罐、打药机（三缸活塞泵）、三轮车、管子等，稍加改造，将原喷药枪换成施肥枪即可，使用施肥枪对果树树盘进行打孔施肥。
          </br>1.2 管道水肥一体化施肥
          </br>&nbsp;&nbsp;也叫小管径流施肥。根据施肥果园的地势建立蓄水池和铺设施肥管道，管道采用PE
          管材料，分为主管道、分管道和毛细管；分管道每行果树铺设一根，毛细管每株果树一个接头，接头上带稳流器，分4 个滴流管。加压设备为汽油离心水泵。
          </br>2 技术特点
          </br>&nbsp;&nbsp;猕猴桃根际液体施肥技术相比于传统施肥具有以下特点：
          </br>2.1 投资少
          </br>&nbsp;&nbsp;在原有打药设备的基础上，只需花几十元钱购买一把施肥枪即可，适合一家一户的家庭式生产；管道施肥平均亩投入也仅有800元，且能使用10 年左右
          </br> 2.2 适应性广
          </br>&nbsp;&nbsp;由于每次追肥仅用少量的水，这就使许多干旱区域实现水肥一体化成为可能。
          </br>2.3 设备维护简单
          </br>&nbsp;&nbsp;追肥完毕后，可以将相关设备收入库房，避免设备长时间暴露在空气中老化，如果发生堵塞现象也可以及时发现处理。
          </br> 3 施肥方法
          </br>3.1 测土配肥
          </br>&nbsp;&nbsp;每年对果园土壤进行取样测定，根据土壤养分测定结果，结合猕猴桃不同时期需肥特点，制定具体施肥方案，按照有机肥、氮磷钾以及中微量元素结合，按一定的比例进行配肥。
          </br> 3.2 稀释
          </br>&nbsp;&nbsp;采用2次稀释法。首先用小桶将配方肥化开，然后再加入贮肥罐，对于少量水不溶物，直接埋入果园，不要加入贮肥大罐，加入配方肥进行稀释时要充分搅拌。稀释时肥料与水的比例一般不高于15%，高温季节不高于10%。
          </br>3.3 设备的组装及准备
          </br>3.3.1 简易水肥一体化施肥
          </br>&nbsp;&nbsp;将高压软管一边与加压泵连接一边与追肥枪连接，将带有过滤网的进水管、回水管以及带有搅拌头的另外一根出水管放入贮肥罐。检查管道接口密封情况，将高压软管顺着果树行间摆放好，防止软管打结而压破管子，开动加压泵并调节好压力，开始追肥。
          </br>&nbsp;&nbsp;3.3.2 管道水肥一体化施肥
          将加压泵与施肥管道连接，检查加压泵机油、汽油及管道的密封情况，将需要施肥的果树行间管道阀门打开，在果树树冠垂直投影外延附近挖直径15厘米,深度20 厘米左右的施肥穴，将4
          个滴流管放入施肥穴中，然后启动加压泵开始追肥，追肥开始后要确认每个滴流管都运行正常。
          </br>4 施肥
          </br>4.1 简易水肥一体化施肥
          </br>&nbsp;&nbsp;在果树树冠垂直投影外延附近的区域，施肥深度大约在25 厘米左右。根据果树大小，每棵树打6-8个追肥孔，每个孔施肥5-8 秒，注入肥液1.5-2 千克，两个注肥孔之间的
          距离不小于60 厘米，每棵树追施肥水12.5-15 千克。
          </br>4.2 管道水肥一体化施肥
          </br>&nbsp;&nbsp;每株果树分有4个滴流管，每个滴流管每分钟出肥水0.4千克左右，施肥15分钟，确保每株果树追施肥水20千克。
        </p>
        <br class="canKaoWenXian">[1]周艳霞,张海平,覃秀顺,蒋振华,张丹.红阳猕猴桃水肥一体化栽培技术[J].中国园艺文摘,2018,34(04):204，210.
        </br>[2]耿波.水肥一体化技术在猕猴桃栽培上的应用[J].中国农技推广,2018,34(04):54-55.
        </br>[3]樊继刚,王锡宏,胡英强,宋丽.丘陵山区猕猴桃膜下滴灌水肥一体化技术模式[J].农业科技通讯,2018(04):299-302.
        </br>[4]李美芳.猕猴桃高产优质栽培技术探究[J].南方农业,2017,11(30):7+9.
        </br> [5]吴涛,任伟,赵英杰,赵菊琴.猕猴桃水肥一体化施肥技术[J].果农之友,2016(04):11+19.
        </p>
        <a name="香蕉"></a><a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">15.香蕉</span>
        <p class="zhengWen">
          香蕉作为亚热带热带重要的水果之一，其产量与品质备受种植户的关注。随着果蔬产业的飞速发展与物质生活水平的提高，市场对水果的需求量也逐渐增大，传统的施肥与灌溉模式已不适合当前果蔬产业的发展，其欲创新发展需明确香蕉养分与水分需求规律，并按香蕉生育周期与叶片数进行施肥，从而提升香蕉品质。基于此，对水肥一体化技术在香蕉生产的应用进行分析，望助力香蕉种植户技术的提升，并满足其自身的经济效益。
          </br>1　水肥一体化技术优势
          </br>1.1　水肥一体化技术特点
          </br>&nbsp;&nbsp;根据施肥的方式不同，水肥一体化技术又可分为灌溉施肥、滴灌施肥、管道施肥以及加肥灌溉等，其大体的形式是将植物所需的肥料溶解于灌溉水中，通过对植物灌溉的方式进行施肥。此种技术是水与肥料之间的相互融合、相互协作的方式，具有省肥、省水、省工、高效以及高产的特点。在日常的生产中，施肥与灌溉两种形式是分开操作的，这将增加劳动力的使用，同时造成农作物对水和肥料是相互分离的，二者之间的作用难以在有效的时间相互作用，发挥自身的效益，导致水肥的作用效率降低。但在水肥一体化的技术前提下，将会有效提升肥料与水的利用率，在实施此技术时，可针对作物的生长规律以及生长需求进行精准灌溉施肥。
          </br>1.2　水肥一体化施肥模式
          </br>&nbsp;&nbsp;当前，我国水肥一体化的技术的应用相当广泛，主要作用在部分效益较好的作物，其施肥方法主要有如下几种形式，
          </br>&nbsp;&nbsp;1）重力自压施肥法。此施肥方式是在供水池的上方修建存储肥料液的容器，从而利用其自身的重力进入到灌溉的管道。施肥的过程中，首先将打开水池的阀门，之后再打开肥料液的阀门，此操作将会保障肥料与水混合的均匀性。此种施肥模式无需外接设备，运营成本较低，操作方式简单，使用寿命长。
          </br>&nbsp;&nbsp;2）泵前侧吸施肥法。此种方法是同时将水泵放入水池与肥料池中，存放肥料的容器要求不高。当大面积灌溉时，可采用水泥池的方式存储，若是小面积的灌溉时，采用塑料容器即可。此种方式操作相对简单，可保障水与肥料混合均匀，适合在宽敞平坦的地区。
          </br>&nbsp;&nbsp;3）移动式灌溉施肥机施肥法。此种施肥的方式主要应用于种植面积较小的田地，移动较为灵活，占地面积较小，投资成本较低。
          </br>2　香蕉水肥需求规律
          </br>2.1　香蕉水分需求规律
          </br>&nbsp;&nbsp;香蕉的叶片较为宽大肥厚，故对水分的需求量较大。香蕉在生长时，其自身具有最大的营养时，在晴天的状态耗水量相对较多，多云天时相对减少，阴天时其耗水量会减少一半，具体耗水数据见表1。在整个香蕉生长中，其生长的环境将会对耗水量产生极大的影响，室内的耗水量比室外生长耗水量减少一半，其主要原因是香蕉现在室外生长时，将会存在大量的光合作用以及植物的蒸腾作用，将会消耗大量的水分，从而在室外种植香蕉的过程中，需增加对用水分的关注。香蕉生产管理者在进行灌溉时，需对种植的香蕉进行充分的调研，梳理香蕉当前的生长状况，尤其是香蕉叶的叶片数、叶长以及叶面积，以此判断灌溉的方式。
        </p>
        <img src="/static/images/15xiangjiao1.png" alt="">
        <p class="zhengWen">2.2　香蕉肥料需求规律
          </br>&nbsp;&nbsp;香蕉需要充足的养分才会获取较高的产量。实验研
          究表明，香蕉生长所需的养分是具有一定的比例的，其对不同养分的需求量见表2。在香蕉生长的不同阶段，对于钾的含量要求较高，其次是氮，最后是磷，若按照此比例进行施肥，会促进相香蕉在较为良性的环境下生长。对于不同品种的香蕉，其施肥的含量也会略有不同，但不会超出养分含量值的范围，并且比例也不会产生较大的变化。在香蕉生长的过程中，要持续对其生长的环境进行分析，有时会增加镁、钙两种养分，防止在生长过程中养分单一、适应环境能力弱，特定的环境下，将增加香蕉的产量，增加用户的经济效益。
        </p>
        <img src="/static/images/15xiangjiao2.png" alt="">
        <p class="zhengWenn">3　水肥一体化技术在香蕉种植中的研究现状
          </br>3.1　水肥一体化技术条件下的施肥方式
          </br>3.1.1 按生育时期施肥
          </br>&nbsp;&nbsp;香蕉不同的生长时期对养分的需求具有相当大的差别。在传统的水肥混合管理中，将难以有效减少此类现象的发生。香蕉生长的过程，施肥通常采用撒施、穴施以及条施等方式，灌溉则是在施肥后采用沟灌或喷水等形式，以上的两种作业将会增加劳动力的使用，浪费生产资源。水肥一体化技术应用摆脱了传统的灌溉形式，现行的状态通常采用滴灌施肥为佳。以此种方式，将会实现肥料的高效利用，实现高效作业，获得高质量产品。在水肥一体化的技术的过程中，根据香蕉的生长周期进行氮磷钾肥料的使用，提升产量，优化香蕉品质。
          </br>3.1.2 按叶片数施肥
          </br>&nbsp;&nbsp;香蕉在生长的过程中，受环境因素的影响极大，导致春蕉、夏蕉以及秋蕉的生长天数不同。通过实践得出，春蕉的生长周期一般为11个月，秋蕉与夏蕉的生长周期是13个月左右，因此在生长的过程中，很难针对时间进行有效的施肥。基于此，通过记录香蕉生长的叶片数进行施肥，可以保障香蕉在生长的过程中获取有效的养分。此种的施肥方式，操作简单便于观察，易被香蕉的种植户所接受。一般在香蕉的叶片上记录数字，以此通过叶片的数量进行确认施肥的时间与数量。另外，此种方式具有一定的弹性，可根据香蕉的生长情况增减肥料，提高资源的利用率。
          </br>&nbsp;&nbsp;3.2　水肥一体化技术在香蕉上的应用效果随着水肥一体化技术在香蕉种植中的应用，该技术逐渐被种植户所接受。另外在应用的过程中，研究工作者也在进行有效的对比研究，在水肥一体化技术应用的过程，滴灌形式将会促进香蕉形成良性的生长，增加香蕉生长的质量。在水肥一体化应用的过程中，滴灌的方式与传统浇灌的方式相比，将会较少近30%的用水量，但香蕉的产量也会增加16%；微喷灌溉的方式与传统浇灌方式对比将会节约32%的用水量，香蕉产量将会增加5.6%。肥料作为养分的重要来源，其水肥一体化技术结
          合新颖的灌溉方式，将会增加肥料的利用率，降低环境的破坏，提升用户的经济效益。
        </p>
        <p class="canKaoWenXian">[1]何秀英,员宝会,员建华,郭忍,龙辉民.水肥一体化技术在香蕉生产中的应用探究[J].南方农业,2018,12(21):1-2.</p>

        <a name="水稻"></a><a href="#顶部" class="return">返回顶部</a>


        <span class="biaoTi">16.水稻</span>
        <p class="zhengWen">旱作水稻水肥一体化栽培技术是将旱田整地、精量播种、侧深施肥、滴灌、水肥一体化技术有机结合的一种全新水稻栽培模式。该模式是在精细整地的基础上采取旱田直播，田间不
          保持水层，由滴灌来满足水稻全生育期对水分的需求，并根据水稻不同生育时期对营养的需求实施精准施肥，突破了水稻“水坐”种植的传统方式，为水源匮乏、丘陵漫岗地区发展水稻生产，优化种植结构提供了有力的技术支持和全新的突破。
          </br>&nbsp;&nbsp;1 品种选择
          </br>&nbsp;&nbsp;根据当地积温等生态条件和绿色食品水稻对品种的要求，选用米质优良、熟期适宜、抗逆性强的高产优质品种。
          </br>&nbsp;&nbsp;2 种子及种子处理
          </br>&nbsp;&nbsp;种子包衣：选用特定的水稻拌种剂，采用先进的拌种机进行高质量拌种，以防止土传病虫害和粉种的发生。
          </br>&nbsp;&nbsp;3 整地
          </br>&nbsp;&nbsp;在秋翻秋耙的基础上，播前平整土地，达到地面平坦、表土松软细碎，地表无土块杂物的标准，播前镇压。
          </br>&nbsp;&nbsp;4 播种
          </br>&nbsp;&nbsp;选用特定播种机进行机械化作业，播种时一次性完成铺设滴灌带、施基肥等复式作业。
          </br>&nbsp;&nbsp;4.1 播期
          </br>&nbsp;&nbsp;日平均气温稳定通过10℃～20℃时即可播种，从4 月25日～5 月5 日开始播种，5 月10 日前播种结束。
          </br>&nbsp;&nbsp;4.2 播种量
          </br>&nbsp;&nbsp;采用特制的旱作水稻穴播机，在播种同时进行滴灌带铺设和侧深施肥。播幅宽1.45 米、播种8 行、宽窄行栽培，穴播穴距8.7 厘米，播种量150～175 公斤/
          公顷，即每穴在12～13 粒左右，每平方米550～570 粒左右。
          </br>&nbsp;&nbsp; 4.3 播种深度
          </br>&nbsp;&nbsp;在2 厘米左右，做到浅不能露籽，深不能捂苗。
          </br>&nbsp;&nbsp; 4.4 滴灌带铺设
          </br>&nbsp;&nbsp;滴灌带深度在1～3 厘米，不能过深，也不能过浅，播种机每个播幅宽1.6 米，播种8 行，铺设2 根滴灌带，每个滴灌带为4 行水稻植株供水。
          </br>&nbsp;&nbsp;4.5 基肥
          </br>&nbsp;&nbsp;基肥采用侧深施肥方式进行，肥带在苗带侧3 厘米，深度在5～7 厘米之间，每公顷施腐殖螯和复合肥（16- 16- 16）400公斤，保证种、肥隔离。
          </br>&nbsp;&nbsp;5 田间管理
          </br>&nbsp;&nbsp;5.1 水分管理
          </br>&nbsp;&nbsp;水稻全生育期需水由滴灌和自然降水来满足，根据天气情况、水稻根系土壤湿度以及田间长势情况实时调控。
          </br>&nbsp;&nbsp; 5.1.1播种后播种后立即滴灌，使土壤达到饱和状态后停灌，一直到出苗土壤保持湿润状态，水量应以满足出苗即可，尽量少滴以促使地温快速升高，利于出苗。
          </br>&nbsp;&nbsp;5.1.2 出苗至3 叶期滴灌使土壤达到饱和状态停灌，到土壤 表面略有发干时再滴灌。
          </br>&nbsp;&nbsp;5.1.3 分蘖期至长穗期持续多次滴灌，每次滴灌到水稻根系土壤水分达到饱和状态时停灌，当土壤水分下降到70%（湿润状态）开始滴灌。
          </br>&nbsp;&nbsp;5.1.4
          结实期这个时期是水稻需水需肥的高峰期，光合作用最旺盛的时期，而且因为气温高，田间土壤水分蒸发量和叶片蒸发量都很大，所以应加大滴水量和频率，使土壤含水量始终处于饱和与半饱和状态。
          </br>&nbsp;&nbsp;5.2 追肥
          </br>&nbsp;&nbsp;根据水稻长势与生育时期适时适量施肥。通过滴灌系统追施适量稻晟液体肥，使水稻全生育期达到精准施肥，按作物需求及时供给。
          </br>&nbsp;&nbsp;5.2.1 原则注重氮肥，稳定磷肥，增加钾肥，补充硅肥。施肥目 标是提高水稻抗病、抗低温能力，促进生长发育，培育壮秆大穗，确保穗大粒多。
          </br>&nbsp;&nbsp;5.2.2 施肥时期与施肥量6 月5 日～25 日结合滴灌施用稻晟 壮苗肥3 次，每次每公顷施用20 公斤。
          </br>&nbsp;&nbsp;5.2.3 出穗前后根据需要适量喷施叶面肥每亩用稻花香高硅 肥100 毫升、碧护1 克对适量水叶面喷施，以提高水稻的抗逆性，保证正常生长发育而促成最佳产量。
          </br>&nbsp;&nbsp;6 预防冷害
          </br>&nbsp;&nbsp;由于该栽培模式采用水稻旱作滴灌栽培方式，田间不建立水层，遇到低温冷害时无法加深水层来进行预防，可采取以下措施来应对以减轻低温冷害对水稻的危害。选用抗低温、耐冷性强的品种；培育壮苗，提高植株的抗寒性；控制氮肥的施用量和施用时期，增施磷钾肥，促进早熟。磷肥全部基肥施入，钾肥60%基肥、40%追肥；施用硅肥，硅肥施后可有效地调节叶片气孔的开闭，提高作物的抗寒、抗旱能力。
          7 杂草防除
          </br>&nbsp;&nbsp;
          由于田间杂草基数的不同和播后田间封闭等各种因素的制约，田间封闭很难做到一次解决杂草的问题，特别是旱田的一些常发、多发性杂草，如鸭趾草、黎、稗草、马唐等，中后期生长迅速，应选择合适药剂加以早期防除，一旦杂草过大，防除效果就会变差，水稻也易受到抑制。
          </br>&nbsp;&nbsp;8 病虫害的防治
          </br>&nbsp;&nbsp;由于是旱作条件，一般水田常发生的病虫害旱作条件下发生较少且轻微，一旦发生病虫害可采用相应药剂进行防治。 9 收获与脱谷
          </br>&nbsp;&nbsp;完熟达95%即可收获。边收边捆，做好晾晒，降低稻谷水分。
        </p>
        <p class="canKaoWenXian">[1]许葵花.旱作水稻水肥一体化栽培管理技术[J].吉林农业,2017(22):41.</p>
        <a href="#顶部" class="return">返回顶部</a>
      </div>
    </div>
  </main>
  <script>
      window.onload = function () {
          let obj = document.getElementsByTagName("img");
          for (let item of obj) {

              if (item.width > 800) {
                  item.width = 800;
              } else if (item.with < 400) {
                  item.width = 400;
              } else {

              }

          }
      }
  </script>
{% endblock %}
